*{
    margin: 0;
    padding: 0;
  }

  
  /* 登陆界面 */
  .lv_login{
    width: 100%;
    height: 100vh;
    background-color: aquamarine;
    background-image: url("https://s2.ax1x.com/2019/12/04/Q1DxOg.jpg");
    background-size: 100vw 100vh;
  }
  .lv_login p{
    display: inline-block;
    margin-right: 1vw;
    font-size: 1rem;
    font-weight: bold;
    margin-left: 10vw;
    margin-top: 7vh;
  }
  .lv_login1{
    width: 40%;
    height: 40%;
    background-color: rgba(255, 255, 255, 0.685);
    margin: 0 auto;
    position: relative;
    top: 35vh;
    z-index: 999;
  }
  
  .lv_login2{
    position: relative;
    top: 10vh;
    left: 12vw;
  }

  /** input **/
  .liu_login1{
    margin-top: 0vh;
    width: 15vw;
    height: 4.5vh;
    line-height: 18px;
    background-color: #ffffff;
    border: 1px solid #cccccc;
    border-radius: 8px;
    transition: border linear 0.2s, box-shadow linear 0.2s;
  }
  .liu_login1:focus{
    border-color: rgba(82, 168, 236, 0.8);
    outline: thin dotted \9;
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(82, 168, 236, 0.6);
  }

  .liu_login2{
    margin-top: 5vh;
    width: 15vw;
    height: 4.5vh;
    line-height: 18px;
    background-color: #ffffff;
    border: 1px solid #cccccc;
    border-radius: 8px;
    transition: border linear 0.2s, box-shadow linear 0.2s;
  }
  .liu_login2:focus{
    border-color: rgba(82, 168, 236, 0.8);
    outline: thin dotted \9;
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(82, 168, 236, 0.6);
  }
  
  .liu_login3{
    width: 8vw;
    height: 5vh;
    background: rgb(27, 26, 26);
    border: none;
    border-radius: 100px;
    margin-top: 6vh;
    margin-left: 16vw;
    color: white;
  }


  /**主页面**/
  .liu_home{
    width: 100%;
    height: 100vh;
    background-color: aquamarine;
    background-image: url("https://s2.ax1x.com/2019/12/04/Q1DxOg.jpg");
    background-size: 100vw 100vh;
    position: relative;
  }
  .liu_p1{
    font-size: 3.5vw;
    font-weight: bold;
    /* font-family: Lantinghei SC; */
    font-family: STXingkai;
    margin-left: 23vw;
    padding-top: 4vh;
    text-shadow: 10px 10px 50px rgb(238, 230, 230); 
    color: black;
  }
  .liu_p2{
    font-size: 1.1vw;
    color: white;
    /* font-family: STXingkai; */
    font-family: Lantinghei SC;
    margin-left: 84vw;
    margin-top: -3vh;
  }
  .liu_p3{
    position: absolute;
    font-size: 1vw;
    font-weight: bold;
    color: rgb(236, 235, 235);
    left: 85vw;
    top: 5vh;
  }
  .liu_p4{
    font-size: 1vw;
    font-weight: bold;
    color: white;
    margin-left: 90vw;
    margin-top: 0vh;
  }
  .liu_p5{
    font-size: 2vw;
    color: black;
    font-weight: bold;
    padding-top: 5vh;
    font-family: FZShuTi;
  }
  
  
  /*主模板*/
  .liu_home1{
    width: 80%;
    height: 80vh;
    background:rgba(255, 255, 255, 0.685);
    margin: 0 auto;
    margin-top: 5vh;
  }
  .liu_home2{
    width: 20%;
    height: 80vh;
    background: rgba(255, 255, 255, 0.6);
    border-right: 1.5px solid rgb(10, 22, 14);
  }
  .liu_home3{
    width: 100%;
    height: 15vh;
    /* background: black; */
    text-align: center;
  }
  /*右侧内容展示*/
  /**管理员信息**/
  .liu_r{
    display: inline-block;
    float: right;
    width: 80%;
    height: 80vh;
    margin-top: -80vh;
  }
  .liu_r1{
    width: 100%;
    height: 80vh;
  }
  .liu_r2{
    width: 12vw;
    height: 12vw;
    margin-left: 22vw;
    margin-top: 5vh;
    border-radius: 60%;
  }
  .liu_rp1{
    margin-left: 17vw;
    margin-top: 5vh;
    font-size: 1.2rem;
    font-weight: bold;
  }
  .liu_rp2{
    margin-left: 17vw;
    margin-top: 5vh;
    font-size: 1.2rem;
    font-weight: bold;
  }
  .liu_rp3{
    margin-left: 22vw;
    margin-top: -11vh;
    font-size: 1.2rem;
  }
  .liu_rp4{
    margin-left: 22vw;
    margin-top: 5vh;
    font-size: 1.2rem;
  }
  .liu_rp5{
    margin-left: 17vw;
    margin-top: 5vh;
    font-size: 1.2rem;
    font-weight: bold;
  }
  .liu_rp6{
    margin-left: 22vw;
    margin-top: -3vh;
    font-size: 1.2rem;
  }
  .liu_rp7{
    margin-left: 17vw;
    margin-top: 5vh;
    font-size: 1.2rem;
    font-weight: bold;
  }


  /** 用户信息显示 **/
  .liu_u{
    width: 100%;
    height: 80vh;
  }  
  .liu_u2{
    margin: 0 auto;
    width: 90%;
    height: 9vh;
    background: rgba(3, 204, 167, 0.4);
    margin-bottom: 2vh;
    border-radius: 20px;
  }
  .liu_u3{
    width: 5vw;
    height: 3vh;
    text-align: center;
    border-radius: 10px;
    background: rgb(8, 111, 84);
    position: absolute;
    top: 91vh;
    left: 72vw;
    color: white;
  }
  .liu_u3_span{
    font-weight: bold;
    margin-top: 4vh;
    font-size: 0.7rem;
  }
  .liu_u4{
    position: absolute;
    top: 91.3vh;
    left: 77.5vw;
  }
  .liu_u5{
    position: absolute;
    width: 5vw;
    height: 3vh;
    text-align: center;
    border-radius: 10px;
    background: rgb(8, 111, 84);
    position: absolute;
    top: 91vh;
    left: 81.5vw;
    color: white;
  }
  .liu_u5_span{
    font-weight: bold;
    margin-top: 4vh;
    font-size: 0.7rem;
  }
  .liu_u6{
    font-weight: bold;
    position: absolute;
    top: 90.5vh;
    left: 30vw;
    width: 8vw;
    height: 3vh;
    padding-top: 1vh;
    text-align: center;
    border-radius: 10px;
    background: rgb(8, 111, 84);
    position: absolute;
    color: rgb(142, 218, 163);
  }
  .liu_u7{
    font-weight: bold;
    position: absolute;
    top: 90.5vh;
    left: 40vw;
    width: 8vw;
    height: 3vh;
    padding-top: 1vh;
    text-align: center;
    border-radius: 10px;
    background: rgb(8, 111, 84);
    position: absolute;
    color: rgb(142, 218, 163);
  }
  .liu_up1{
    font-size: 1.3rem;
    font-family: Xingkai SC;
    margin-left: 12vw;
    margin-top: 3vh;
    margin-bottom: 2vh;
  }
  .liu_up2{
    font-size: 1.3rem;
    font-family: Xingkai SC;
    margin-left: 25vw;
    margin-top: -5.5vh;
    margin-bottom: 2vh;
  }
  .liu_up3{
    font-size: 1.3rem;
    font-family: Xingkai SC;
    margin-left: 37vw;
    margin-top: -5vh;
    margin-bottom: 2vh;
  }
  .liu_up4{
    font-size: 1.3rem;
    font-family: Xingkai SC;
    margin-left: 50vw;
    margin-top: -5vh;
    margin-bottom: 2vh;
  }
  .liu_up5{
    font-size: 1rem;
    margin-left: 8vw;
    margin-top: -4vh;
    color: rgb(91, 41, 41);
  }
  .liu_up6{
    font-size: 1rem;
    margin-left: 21vw;
    margin-top: -2.6vh;
    color: rgb(91, 41, 41);
  }
  .liu_up7{
    font-size: 1rem;
    margin-left: 34vw;
    margin-top: -2.6vh;
    color: rgb(91, 41, 41);
  }
  .liu_up8{
    font-size: 1rem;
    margin-left: 45vw;
    margin-top: -2.3vh;
    color: rgb(91, 41, 41);
  }

  .liu_upic{
    width: 3vw;
    height: 3vw;
    border-radius: 50%;
    margin-left: 2vw;
    margin-top: 2vh;
  }

  .liu_uadd{
    width: 40%;
    height: 50vh;
    background:rgba(0, 0, 0, 0.5);
    position: absolute;
    left: 38vw;
    top:30vh;
    display: none;
  }
  .liu_udel{
    width: 40%;
    height: 50vh;
    background:rgba(0, 0, 0, 0.5);
    position: absolute;
    left: 38vw;
    top:30vh;
    display: none;
  }

  .liu_ud1{
    color: white;
    font-weight: bold;
    position: absolute;
    left: 14vw;
    top:8vw;
  }
  .liu_ud2{
    position: absolute;
    color: white;
    font-size: 1.3rem;
    left: 11vw;
    top: 20vh;
  }
  .liu_ud3{
    position: absolute;
    width: 10vw;
    height: 1.5vw;
    left: 14vw;
    top: 21vh;
    background: none;
    border: none;
    border-bottom: 2px solid white;
    color: white;
    text-indent:2em;
  }
  .liu_ud4{
    font-size: 1.5rem;
    font-weight: bold;
    position: absolute;
    color: white;
    top: 30vh;
    left: 17vw;
  }


  .add1{
    width: 5vw;
    height: 5vw;
    border-radius: 50%;
    margin-left: 17vw;
    margin-top: 3vh;
  }
  .add2{
    position: absolute;
    color: white;
    font-size: 1.3rem;
    left: 11vw;
    top: 16vh;
  }
  .add3{
    position: absolute;
    width: 10vw;
    height: 1.5vw;
    left: 15vw;
    top: 16vh;
    background: none;
    border: none;
    border-bottom: 2px solid white;
    color: white;
    text-indent:2em;
  }

  .add4{
    position: absolute;
    color: white;
    font-size: 1.3rem;
    left: 11vw;
    top: 23.5vh;
  }
  .add5{
    position: absolute;
    width: 10vw;
    height: 1.5vw;
    left: 15vw;
    top: 23.5vh;
    background: none;
    border: none;
    border-bottom: 2px solid white;
    color: white;
    text-indent:2em;
  }

  .add6{
    position: absolute;
    color: white;
    font-size: 1.2rem;
    left: 10.5vw;
    top: 30vh;
  }
  .add7{
    position: absolute;
    width: 10vw;
    height: 1.5vw;
    left: 15vw;
    top: 30vh;
    background: none;
    border: none;
    border-bottom: 2px solid white;
    color: white;
    text-indent:2em;
  }

  .add8{
    position: absolute;
    color: white;
    font-size: 1.2rem;
    left: 10.5vw;
    top: 38vh;
  }
  .add9{
    position: absolute;
    width: 10vw;
    height: 1.5vw;
    left: 15vw;
    top: 38vh;
    background: none;
    border: none;
    border-bottom: 2px solid white;
    color: white;
    text-indent:2em;
  }
  .add10{
    font-size: 1.5rem;
    font-weight: bold;
    position: absolute;
    color: white;
    top: 43.5vh;
    left: 17vw;
  }
  


  .liu_uc1{
    font-size: 1.3rem;
    font-family: Xingkai SC;
    margin-left: 13vw;
    margin-top: 3vh;
    margin-bottom: 3vh;
  }
  .liu_uc2{
    font-size: 1.3rem;
    font-family: Xingkai SC;
    margin-left: 24vw;
    margin-top: -3vw;
  }
  .liu_uc3{
    font-size: 1.3rem;
    font-family: Xingkai SC;
    margin-left: 40vw;
    margin-top: -3vh;
    margin-bottom: 2vh;
  }
  .liu_uc4{
    font-weight: bold;
    font-size: 1rem;
    margin-left: 10vw;
    margin-top: -4vh;
    color: rgb(91, 41, 41);
  }
  .liu_uc5{
    font-weight: bold;
    font-size: 1rem;
    margin-left: 20vw;
    margin-top: -2.7vh;
    color: rgb(91, 41, 41);
  }
  .liu_uc6{
    width: 27vw;
    margin-left: 30vw;
    margin-top: -4vh;
    font-weight: bold;
    font-size: 0.8rem;
    color: rgb(91, 41, 41);
  }
  .liu_str6{
    font-weight: bold;
    font-size: 0.8rem;
    color: rgb(91, 41, 41);
    width: 20vw;
    height: 7.5vh;
    margin-left: 34vw;
    margin-top: -5.7vh;
    overflow: hidden;
    text-indent:2em;
  }

  .tiezi1{
    font-size: 1.3rem;
    font-family: Xingkai SC;
    margin-left: 5vw;
    margin-top: 3vh;
    margin-bottom: 3vh;
  }
  .tiezi2{
    font-size: 1.3rem;
    font-family: Xingkai SC;
    margin-left: 10vw;
    margin-top: -6.3vh;
    margin-bottom: 3vh;
  }
  .tiezi3{
    font-size: 1.3rem;
    font-family: Xingkai SC;
    margin-left: 19vw;
    margin-top: -3vw;
    margin-bottom: 3vh;
  }
  .tiezi4{
    font-size: 1.3rem;
    font-family: Xingkai SC;
    margin-left: 30vw;
    margin-top: -3vw;
    margin-bottom: 3vh;
  }
  .tiezi5{
    font-size: 1.3rem;
    font-family: Xingkai SC;
    margin-left: 45vw;
    margin-top: -3vw;
    margin-bottom: 3vh;
  }
  .tiezi6{
    font-weight: bold;
    font-size: 1rem;
    margin-left: 2vw;
    padding-top: 3.2vh;
    color: rgb(91, 41, 41);
  }
  .tiezi7{
    font-weight: bold;
    font-size: 1rem;
    margin-left: 6vw;
    margin-top: -2.3vh;
    color: rgb(91, 41, 41);
  }
  .tiezi8{
    width: 7vw;
    height: 4.2vh;
    overflow: hidden;
    font-weight: bold;
    font-size: 0.9rem;
    margin-left: 14vw;
    margin-top: -2.8vh;
    color: rgb(91, 41, 41);
  }
  .tiezi9{
    width: 14vw;
    height: 5.2vh;
    overflow: hidden;
    font-weight: bold;
    font-size: 0.75rem;
    margin-left: 24.5vw;
    margin-top: -5vh;
    color: rgb(91, 41, 41);
  }
  .tiezi10{
    font-size: 1.3rem;
    font-family: Xingkai SC;
    margin-left: 54.5vw;
    margin-top: -3vw;
    margin-bottom: 3vh;
  }
  .tiezi11{
    width: 14vw;
    height: 5.2vh;
    overflow: hidden;
    font-weight: bold;
    font-size: 0.9rem;
    margin-left: 42.5vw;
    margin-top: -4vh;
    color: rgb(91, 41, 41);
  }
  .tiezi12{
    width: 14vw;
    height: 5.2vh;
    overflow: hidden;
    font-weight: bold;
    font-size: 0.7rem;
    margin-left: 50vw;
    margin-top: -5vh;
    color: rgb(91, 41, 41);
  }
  .tiezi13{
    font-weight: bold;
    position: absolute;
    top: 90.5vh;
    left: 30vw;
    width: 8vw;
    height: 3vh;
    padding-top: 1vh;
    text-align: center;
    border-radius: 10px;
    background: rgb(8, 111, 84);
    position: absolute;
    color: rgb(142, 218, 163);
  }