*{
    padding: 0;
    margin: 0;
  }
  ul,li{
    list-style: none;
  }
  a{
    text-decoration: none;
    color: rgb(95, 93, 93);
  }
  
  /*********************************************** 登录注册顶部区域  *********************************************/
  .downBac1{
    height: 60vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: '#fff';
    background: url('https://s2.ax1x.com/2019/12/03/QKQch6.png');
  }
  .downBac2{
    height: 70vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: '#fff';
    background: url('https://s2.ax1x.com/2019/12/03/QKQch6.png');
  }
  .downBac3{
    height: 60vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: '#fff';
    background: url('https://s2.ax1x.com/2019/12/03/QKlR5q.png');
  }
  .InitTop{
    width: 100%;
    height: 70vw;
    background-size:100% 100%; 
    position: relative;
  }
  .InitTop img{
    width: 100vw;
  }
  .InitTop-1{
    float: left;
    height: 100%;
    width: 100%;
    background: #aeebfa;
  }
  .InitTop-2{
    float: left;
    margin-top: -30vh;
    margin-left: 33vw;
    width: 30vw;
    height: 30vw;
    background: url("https://s2.ax1x.com/2019/12/02/QuACm8.png") no-repeat;
    background-size:100% 100%; 
    border-radius: 25%;
  }
  
  /****************************** 关于我们(小畅团队介绍页) *******************/
  .InitAboutus{
    margin-top: -11vh;
    width: 100%;
    height: 69vh;
    background-size:100% 87.3%; 
    background-position: 0vw 10vh;
  }
  .InitAboutus-p1{
    letter-spacing:1px;
    color: white;
    font-size: 1em;
    margin-top: 28vh;
    margin-left: 13vw;
    font-family: 'Courier New', Courier, monospace;
    font-weight: bold;
  }
  .InitAboutus-p2{
    letter-spacing:1px;
    color: white;
    font-size: 1em;
    margin-top: 1.5vh;
    margin-left: 7vw;
    font-family: 'Courier New', Courier, monospace;
    font-weight: bold;
  }
  .InitAboutus-p3{
    letter-spacing:1px;
    color: white;
    font-size: 1em;
    margin-top: 1.5vh;
    margin-left: 7vw;
    font-family: 'Courier New', Courier, monospace;
    font-weight: bold;
  }
  .InitAboutus-p4{
    letter-spacing:1px;
    color: white;
    font-size: 1em;
    margin-top: 1.5vh;
    margin-left: 7vw;
    font-family: 'Courier New', Courier, monospace;
    font-weight: bold;
  }
  .InitAboutus-p5{
    letter-spacing:1px;
    color: white;
    font-size: 1em;
    margin-top: 1.5vh;
    margin-left: 6vw;
    font-family: 'Courier New', Courier, monospace;
    font-weight: bold;
  }
  .InitAboutus-p6{
    letter-spacing:1px;
    color: white;
    font-size: 1em;
    margin-top: 1.5vh;
    margin-left: 6vw;
    font-family: 'Courier New', Courier, monospace;
    font-weight: bold;
  }
  .InitAboutus-p7{
    letter-spacing:1px;
    color: white;
    font-size: 1em;
    margin-top: 1.5vh;
    margin-left: 6vw;
    font-family: 'Courier New', Courier, monospace;
    font-weight: bold;
  }
  .InitAboutus-p8{
    letter-spacing:2px;
    color: white;
    font-size: 1em;
    margin-top: 6vh;
    margin-left: 56vw;
    font-family: 'Courier New', Courier, monospace;
    font-weight: bold;
  }
  
  /*********************************************** 初始登录页面 **********************************/
  .Liu_Login{
    width: 100%;
    height: 69vh;
    background: url("https://s2.ax1x.com/2019/12/02/QuVWFg.png") no-repeat;
    background-size: 100% 100%;
    margin-top: -10vh;
  }
  .Liu_Login1{
    width: 100%;
    height: 100%;
    float: left;
  }
  .Liu_Login2{
    float: left;
    width: 100%;
    height: 55%;
    margin-top: 20vh;
    background:rgba(255,255,255,0.8);
    box-shadow:3px 3px 8px rgb(149, 165, 150);
  }
  .Login_img1{
    margin-left: 20vw;
  }
  .login_img2{
    margin-left: 20vw;
  }
  .Login-1{
    display: inline-block;
    font-size: 12px;
    margin-top: 3vh;
    margin-left: 4vw;
    width: 60vw;
    height: 4.5vh;
    line-height: 18px;
    background-color: #ffffff;
    border: 1px solid #cccccc;
    border-radius: 8px;
    transition: border linear 0.2s, box-shadow linear 0.2s;
  }
  .Login-1:focus{
    border-color: rgba(82, 168, 236, 0.8);
    outline: thin dotted \9;
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(82, 168, 236, 0.6);
  }
  .Login-2{
    margin-top: 2vh;
    margin-left: 4vw;
    font-size: 12px;
    width: 60vw;
    height: 4.5vh;
    line-height: 18px;
    background-color: #ffffff;
    border: 1px solid #cccccc;
    border-radius: 8px;
    transition: border linear 0.2s, box-shadow linear 0.2s;
  }
  .Login-2:focus{
    border-color: rgba(82, 168, 236, 0.8);
    outline: thin dotted \9;
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(82, 168, 236, 0.6);
  }
  .Login-3{
    border: none;
    width: 20vw;
    height: 5vh;
    margin-left: 40vw;
    margin-top: 5vh;
    background-color: #08c;
    padding: 3px 10px;
    color: white;
    border-radius: 3px;
  }

  /***************************************************  初始注册页面  ********************************************/
  .Register{
    width: 100vw;
    height: 70vh;
  }
  .Register-0{
    margin-left: 15vw;
    margin-top: 5vh;
  }
  .Register-1{
    margin-left: 15vw;
    margin-top: 1vh;
  }
  .Register-2{
    display: inline-block;
    font-size: 12px;
    margin-top: 1vh;
    margin-left: 4vw;
    width: 60vw;
    height: 4.5vh;
    line-height: 18px;
    background-color: #ffffff;
    border: 1px solid #cccccc;
    border-radius: 8px;
    transition: border linear 0.2s, box-shadow linear 0.2s;
  }
  .Register-2 :focus{
    border-color: rgba(82, 168, 236, 0.8);
    outline: thin dotted \9;
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(82, 168, 236, 0.6);
  }
  .Register-3{
    width: 40vw;
    height: 5vh;
    float: left;
  }
  .Register-4{
    width: 40vw;
    height: 5vh;
    border-radius: 20vw;
    border: none;
    background-color: #ffffff;
    margin-top: 5vh;
    margin-left: 20%;
  }
  .Register-5{
    width: 40vw;
    height: 5vh;
    border-radius: 20vw;
    border: none;
    background-color: #ffffff;
    margin-top: 5vh;
    margin-left: 40%;
  }
  
.lv_zhuce{
  color: #fff;
  font-size: 12px;
  float: right;
  margin-right: 21vw;
  margin-top: 1vh;
  border: none;
  background: none;

}

  /**********************************************************************************/
  /* Home.js */
  /* 顶部搜索 */
  #qin_dingwei{
  width: 5vw;
  height:5vw;
  float: left;
  margin-top: 5vw;
  margin-left: 1vw;
  margin-right: -2vw;
  background-color:rgb(139, 139, 139);
}
.qin_city{
  margin-top: 5vw;
  float: left;
  padding: 0;
  font-size: 2vw;
  color: white;
  background-color:rgb(139, 139, 139);
}
  .am-search-cancel{
    height: 8vw;
    line-height: 9vw;
    color:rgb(219, 219, 219);
    background-color: rgb(139, 139, 139);
  }
  .am-search{
    width:70vw;
    float: right;
    background-color:rgb(139, 139, 139);
  }
  .am-search-input{
    border-radius: 5vw;
  }
  /* 轮播图 */
  .slider-decorator-0{
    display: none;
  }
.feng_lunbo{
  position: absolute;
  top: 42vw;
  left: 6vw;
  z-index: 2;
  color: #fff;
  font-size: 7vw;
}
.feng_lunbo p{
  font-size: 5vw;
}
  /* 中间四个入口 */
  .qin_rukou{
  margin-top: 1vw;
  margin-left: 4vw;
  width: 95%;
  height:27vw;
}
.qin_rukou img{
  margin-left: 2vw;
}
.feng_rukou{
  width: 15vw;
  height: 20vw;
  float: left;
  padding-top: 2vw;
  color: rgb(117, 116, 116);
 
}
.feng_rukou1{
  font-size: 2vw;
  text-align: center;
  padding-top: 2vw;
  margin-left: 2vw;
}
.feng_rukou2{
  font-size: 2vw;
  text-align: center;
  margin-left: 2vw;
}
.feng_rukou3{
  font-size: 2vw;
  text-align: center;
  padding-top: 1vw;
  margin-left: 2vw;
}
.feng_rukou4{
  font-size: 2vw;
  text-align: center;
  padding-top: 2vw;
  margin-left: 1vw;
}
  /* 地图部分 */
  .qin_map{
    margin-top: -1vw;
    width:100%;
    height: 77vw;
    border:5px rgb(231, 230, 230) solid;
  }
  
  /* 周边热门高校 */
  .qin_hot{
    width: 100%;
  }
  .qin_title{
    text-align: center;
    height: 12vw;
    border:2px yellow solid;
    text-shadow:1px 1px 0px #FFFFFF, -1px -1px 0px #FFFFFF, 2px 2px 0px #FFFFFF, -2px -2px 0px #FFFFFF, 3px 3px 0px #FFFFFF, -3px -3px 0px #FFFFFF;
  }
  /******************************************************使用帮助***********************************************/
  .wu_ziti01{
    font-size: 5vw;
    margin-top: 3vw;
    margin-bottom: 1vw;
    margin-left: 2vw;
  }
  .wu_ziti02{
    font-size: 4.5vw;
    line-height: 8vw;
    color: #999;
    margin-left: 2vw;
    border-bottom:1px dashed #999; 
  }
  /********************************************************* 名校预约 *********************************************/
  #qin_reserve{
    width: 100%;
    height: 30vh;
    background: url(https://s2.ax1x.com/2019/11/28/QPzbwQ.png) ;
    background-size: cover;  
  }
  .qin_why{
    margin:4vw 4vw;
    font-family: monospace; 
    font-size: 8vw; 
    margin-bottom: 5vw;
  }
  .liu_search{
    width: 60vw;
    height: 5vh;
    margin-left: 20vw;
    margin-top: 13vh;
    line-height: 18px;
    background-color: #ffffff;
    border: 1px solid #cccccc;
    border-radius: 8px;
    transition: border linear 0.2s, box-shadow linear 0.2s;
  }
  .liu_search:focus{
    border-color: rgba(231, 31, 4, 0.8);
    outline: thin dotted \9;
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 18px rgba(179, 141, 15, 0.6);
  }
  .liu_cover{
    width: 100%;
    height: 100%;
    background:rgba(0,0,0,0.2);
  }
  #liu_fanhui{
    font-size: 20px;
    font-weight: bold;
    margin-left: 3vw;
    padding-top: 1.3vh;
    color: #ebe4e4;
  }
  .qin_w1{
    background-color: #FF605F;
    margin-right: 1vw;
    margin-left: 5vw;
  }
  .qin_w2{
    background-color: #FFD52E;
    margin-right: 1vw; 
  }
  .qin_w3{
    background-color: #49DD8E;
    margin-right: 1vw; 
  }
  .qin_w4{
    background-color: #AE99FF;
  }
  .qin_reason{
    width: 90%;
    height: 70vw;
    border-left:1vw rebeccapurple dotted;
    padding-top: 2vw;
  }
  .qin_reason p{
    font-size: 4.8vw;
    margin-left: 3vw;
    margin-bottom: 3vw;
    line-height: 6.5vw;
    padding-right: 5vw;
  }
  .qin_r1{
    color:rgb(10, 113, 121);
  }
  .qin_r2{
    color: rgb(10, 113, 121);
  }
  .qin_r3{
    color:rgb(10, 113, 121);
  }
  .qin_r4{
    color:rgb(10, 113, 121);
  }
  .qin_r5{
    color:rgb(10, 113, 121);
  }
  
  /************************ Resultfirst.js ******************/
  .qin_R1{
    margin-top: 25vw;
    width: 62%;
    height: 30vw;
    border:1vw rgb(9, 167, 146) solid;
  }
  .qin_R1 p{
    text-align: center;
    line-height: 15vw;
    font-weight: bolder;
    font-size: 6vw;
    color: rgb(95, 22, 22);
  }


  /**************************************** Map.js ****************************************************/
  /*上半部分*/
  #qin_fanhui{
    display: inline;
    position: absolute;
    top:3vw;
    left:3vw;
    background-color: rgba(0,0,0,0);
  }
  #qin_MapSearch{
    display: inline;
    position: absolute;
    top:28vw;
    left:75vw;
    background-color: rgba(0,0,0,0);
  }
  .qin_back{
    width: 100%;
    height: 70vw;
    background:url(https://s2.ax1x.com/2019/11/26/Mx6IZ6.png) ;
    background-size: cover;  
  }
  .qin_back input{
    width: 60%;
    height: 10vw;
    text-decoration: none;
    border: none;
    border-radius: 3vw;
    margin-top:25vw;
    margin-left:23vw;
  }
  .qin_back input:focus{
    outline: none;
  }
  /* 下半部分 */
  .am-tabs-tab-bar-wrap {
      margin: 0;
  }
  .am-tabs-default-bar-underline {
      border:none; 
  }
  .am-tabs-default-bar-tab{
    border-left:0.2vw rgb(146, 146, 146) solid;
    border-right:0.2vw rgb(146, 146, 146) solid;
  }
  .am-tabs-default-bar-tab-active {
    color: rgb(37, 74, 192);
  }
  
  /************************************** feng__攻略页 APPRaiders.js **********************************/
/* 导航栏 */
/* .feng_search{
  background-color: aqua;
} */
.feng_search input{
  float: left;
  margin-top: 3.5vw;
  margin-left: 8vw;
  width: 60vw;
  height: 7.5vw;
  border-radius: 2vw;
  border-style: none;
  border:2px rgb(219, 215, 215) solid;
  font-size: 2vw;
  background-color: rgb(238, 236, 236);
}
.feng_setPosition{
  width:18vw;
  height: 13vw;
  margin-left: 2vw;
  margin-top: 1vw;
  float: left;
}
.feng_setPosition img{
  width: 7vw;
  margin-left: 3vw;
  margin-top: 1vh;
  color: rgb(226, 224, 224);
  float: left;
}
.feng_setPosition p{
  margin-left: 1.5vw;
  font-size: 2vw;
  height: 1vw;
  color: rgb(134, 134, 134);
  float: left;
}
/* 导航栏结束 */
.feng_cover{
  height: 62vw;
  width: 99%;
  position: relative;
  margin: 0;
}
.feng_cover_img{
  height: 60vw;
  width: 99%;
  z-index: 1;
}
.feng_cover_icon{
  width: 7vw;
  height: 7vw;
}
.feng_icon{
  position: absolute;
  top: 3vw;
  left: 88vw;
  width: 7vw;
  height: 7vw;
}
/* 标题 */
.feng_title{
  color: #fff;
  position: absolute;
  top: 26vw;
  font-size: 4.5vw;
  line-height: 8vw;
  width: 99%;
  margin-left: 5vw;
}
.feng_title:active{
  color: gold;
}
.feng_title2{
  font-size: 8vw;
  line-height: 12vw;
  padding-left: 8vw;
  display: inline;
}
.icon-shoucang{
  position: absolute;
  top: 3vw;
  /* left: 1vw; */
  margin-left: 90vw;
  color: #fff;
}
.feng_jiantou{
  width:7vw;
  height:3vh;
  position:absolute;
  top:5vw;
  right:13vw
}

/************************************** feng__攻略详情页 RaiderDetail.js **********************************/
/* 导航栏 */
.feng_nav{
  border-bottom: 1px solid #ddd;
  background-color: #fff;
}
/* 详细页面 */
.feng_detail_title{
  top:4vw;
  text-align: center;
  font-size: 5vw;
  font-weight: bolder;
  font-family: '楷体';
  color: rgb(63, 111, 150);
}
.feng_detail_writter{
  text-align: center;
}
.feng_head{
  width: 10vw;
  height: 10vw;
  border-radius:50%
}
.feng_detail_writter p{
  margin-top:1vw;
  margin-bottom: 1vw;
  font-size: 2vw;
}
.feng_detail_writter span{
  color: #999;
  font-size: 3vw;
}
.feng_detail_content{
  margin: 0 auto;
  margin-left: 3vw;
  margin-right: 3vw;
}
.feng_detail_content p{
  line-height: 7vw;
  margin-left: 3vw;
  margin-right: 3vw;
  margin-bottom: 3vw;
  font-size: 4.5vw;
  font-family: '楷体';
}
.feng_chatu{
  width: 90vw;
  height: 50vw;
  margin-left:2vw;
  text-align: center;
}
/* 评论框 */
.feng_comment{
  border-top:0.2vw #ddd solid;
  border-bottom:0.2vw #ddd solid;
  height: 16vw;
}
.feng_comment input{
  float: left;
  margin-top: 4vw;
  margin-left: 4vw;
  border-radius: 2vw;
  width: 65vw;
  height: 8vw;
  background-color: rgb(230, 230, 230);
  border-style: none;
  font-size: 3vw;
}
.feng_comment div{
  float: left;
  margin-top: 5vw;
  margin-left: 7vw;
  color: #999;
}
/* 评论内容 */
.feng_comment_li{
  list-style: none;
  border-bottom:0.2vw #ddd solid;
  margin-right: 5vw;
  margin-bottom: 3vw;
  font-size: 3vw;
}
.feng_comment_button{
  background-color: #ddd;
  border: 1px solid transparent; 
  font-size: 1vw;
  float: right;
}
.feng_comment_pinglun{
  font-size: 6vw;
}
  
  /* **************************************************************************************************** */
  
  /*Header*/
  .mu_header{
    height: 20vw;
    background: #fff;
  }
  .mu_header header{
    width: 100%;
    margin: 0 auto;
  }
  .mu_tou{
    width: 10vw;
    height: 10vw;
    margin: 3vw 1vw 2vw 3vw;
    float: left;
  }
  .mu_search{
    width:60vw;
    height:5vw;
    margin-top:4vw;
    margin-left:6vw;
    border-radius:3vw;
    border:0;
    float: left;
  }
  .mu_xing{
    margin-left:8vw;
    margin-top:6vw;
    float: left;
  }
  /* content */
  .mu_remen{
    width:100%;
    height:26vw;
    background:#fff;
    margin-bottom: 3vw;
    border:1px solid #BBBBBB;
    font-size: 3vw;
    position: relative;
  }
  .mu_user{
    width:100%;
    height:8vw;
    position: absolute;
    top:3vw;
  }
  .mu_usertou{
    float:left;
    margin:1vw 2vw;
    width:6vw;
    height:6vw;
  }
  .mu_userming{
    float:left;
    margin:2vw 3vw 1vw;
  }
  .mu_yhwenzi{
    height: 6.5vw;
    overflow: hidden;
    position: absolute;
    top:11vw;
  }
  .mu_zan{
    float: right;
    top:19vw;
    right:3vw;
    position: absolute;
  }
  .mu_zan p{
    float: right;
  }
  .mu_zi{
    margin-right: 2vw;
  }
  /* shoucang */
  .mu_shoucangtop{
    width:100%;
    height: 10vw;
  }
  .mu_fanhui{
    margin:3vw;
    float: left;
  }
  .mu_sc{
    margin:3vw 30vw;
    float: left;
  }
  .mu_lankuai{
    width: 100%;
    height: 25vw;
    background-color: cornflowerblue;
  }
  .mu_neirong{
    margin-top:18vw;
    float: left;
  }
  /* fatie */
  .mu_fatie{
    width:100%;
    height: 20vw;
    background-color: rgb(209, 204, 204);
    position: relative;
  }
  .mu_tianjia{
    width:20%;
    height: 10vw;
    position: absolute;
    left:40%;
    top:25%;
    border-radius: 30%;
    border:0;
  }
  .am-tabs-default-bar-tab {
    border: none;
  }
  
  /* ****************************************************************************************** */
  /* 北京大学及河北师范大学预约部分  */
  .wu_Pek_box{
    position: absolute;
    margin-top:-2em;
    background-color:#C61118;
    width: 100%;
    height: 80vh;
  }
  .wu_Pek_box1{
    position: relative;
    margin:0 auto;
    margin-top:1em;
    background-color:white;
    width: 92.5%; 
    height: 75.9vh;
  }
  /*北京大学线段*/
  .wu_Pek_line{
    position: relative;
    float:left;
    margin-top:4.3em;
    width:27vw;
    height:1px;
    border:none;
    border-top:2px solid #C61118;
  }
  /*河北师范大学线段*/
  .wu_Pek_line1{
    position: relative;
    float:left;
    margin-top:4.3em;
    width:38vw;
    height:1px;
    border:none;
    border-top:2px solid #C61118;
  }
  .wu_Pek_p{
    font-family: cursive;
    margin-left:3em;
    margin-top:1.7em;
    position: absolute;
    font-size:21px;
    float:left;
  }
  .wu_Pek_p1{
    font-family: cursive;
    margin-left:1.2em;
    margin-top:3em;
    font-size:19px;
    float:left;
  }
  .wu_Pek_p2{
    font-family: cursive;
    margin-left:7.5em;
    margin-top:2em;
    font-size:19px;
    float:left;
  }
  .wu_Pek_button{
    font-family: cursive;
    width:27vw;
    height:13vh;
    margin-left:7.2em;
    margin-top:4.5em;
    float:left;
    font-size: 18px;
    color:white;
    border-radius: 4px;
    text-align: center;
    background-color: rgba(198,17,24,1);
  }
  .wu_Pek_button1{
    font-family: cursive;
    width:27vw;
    height:13vh;
    margin-left:7.2em;
    margin-top:3em;
    float:left;
    font-size: 18px;
    color:white;
    border-radius: 4px;
    text-align: center;
    background-color: rgba(198,17,24,1);
  }
  
  /* ********************************************************************************** */
  .wu_kuang{
    float:left;
    width:2em;
    height:2em;
    margin-top: 1em;
    margin-left:1em;
    border: 1px solid red;
    background-color:red;
  }
  .wu_kuang1{
    float:left;
    width:2em;
    height:2em;
    margin-top: 0.5em;
    margin-left:1em;
    border: 1px solid orange;
    background-color:orange;
  }
  .wu_kuang2{
    float:left;
    width:2em;
    height:2em;
    margin-top: 0.5em;
    margin-left:1em;
    border: 1px solid #FFE700;
    background-color:#FFE700;
  }
  .wu_kuang3{
    float:left;
    width:2em;
    height:2em;
    margin-top: 0.5em;
    margin-left:1em;
    border: 1px solid #5DD0DE;
    background-color:#5DD0DE;
  }
  .wu_ziti{
    color:#fff;
    margin-top:0.17em;
  }
  .wu_ziti1{
    float:left;
    font-size:18px;
    margin-left:1em;
    margin-top:1em;
  }
  .wu_ziti2{
    float:left;
    font-size:18px;
    margin-left:4.5em;
    margin-top:1em;
  }
  .wu_ziti1-1{
    float:left;
    font-size:18px;
    margin-left:1em;
    margin-top:0.5em;
  }
  .wu_ziti2-1{
    float:left;
    font-size:18px;
    margin-left:4.5em;
    margin-top:0.5em;
  }
  .wu_ziti3-1{
    float:left;
    font-size:18px;
    margin-left:3.4em;
    margin-top:0.5em;
  }
  .wu_img{
    margin-top:1.2em;
    margin-right:0.2em;
    float:right;
    /* width: 2vw; */
  }
  
  .wu_img img{
    width: 6vw;
  }
  .wu_img1{
    margin-top:0.7em;
    margin-right:0.2em;
    float:right;
    /* width: 2vw; */
  }
  .wu_img1 img{
    width: 6vw;
  }
  .wu_line{
    margin-top:4em;
    height:1px;
    border:none;
    border-top:1px solid gray;
  }

  /* ********************************************** 周边热门高校 ******************************************** */
  .qin_hot{
    width: 99%;
    height: 65vw;
  }
  .qin_title{
    text-align: center;
    line-height: 10vw;
    color: black;
    font-weight: bold;
    font-size: 6vw;
    font-family: STXingkai;
  }
  .Liu_hot{
    width: 100%;
    border-bottom: 5px solid rgb(231, 230, 230);
    padding-top: 1vw;
    height: 22vh;
    background: white;
  }
  .Liu_hot4{
    width: 28vw;
    height: 15bvh;
    margin-left: 3vw;
    margin-top: 2vw;
    border: 1px solid rgb(231, 230, 230);
  }
  .feng_hot{
    float:right;
    width: 65vw;
    height: 21vw;
  }
  .Liu_hot1{
    font-family: '微软雅黑';
    margin-top:0.5vh;
    font-weight: bold;
    font-size: 5vw;
    float: left;
  }
  .Liu_hot3{
    width: 63vw;
    overflow: hidden;
    display: inline-block;
    float: left;
    line-height: 3.3vh;
    font-size: 3.6vw;
    margin-top: 1vw;
    color: rgb(117, 116, 116);
  }
  /*****************************************************************************************************/
  
  .Liu_city{
    width: 30vw;
    height: 27vh;
    position: absolute;
    left: 5vw;
    z-index: 999;
  }
  .Liu_li{
    list-style: none;
    width: 100%;
    height: 7vw;
    border:1px solid rgb(78, 77, 77);
    background: white;
    text-align: center;
  }
  .Liu_li p{
    font-weight: bold;
    margin-top: 1vh;
    font-size: 3vw;
  }
  #qin_dingwei{
    width: 9vw;
    height:9vw;
    float: left;
    margin-top: 3vw;
    margin-left: 3vw;
    margin-right: -2vw;
    background-color:rgb(255,255,255,0);
  }
  .qin_city{
    margin-top: 5vw;
    margin-left: 2vw;
    float: left;
    padding: 0;
    color: white;
    background-color:rgb(255,255,255,0);
    font-size: 4vw;
  }
  
  /* ***************************************大学详情页 CollegeDetails.js**************************************/
  /* NavBar */
  .am-navbar-left-icon, .am-navbar-light div, .am-icon-md {
    background-color: #78b4f2;
    margin: 0;
  }
  .am-navbar-light {
    color:rgb(71, 160, 112);
  }
  .lv_middle_wingblank{
    width: 100%;
    margin-top: 2vh;
  }
  .lv_middle_name img{
    float: left;
    width: 50%;
  }
  .lv_line{
    width: 90%;
    border: 2px solid rgb(177, 172, 172);
    float: left;
    margin-top: 1vh;
  }
  /* 校训 */
  .lv_title{
    font-size: 6vw;
    float: left;
    margin-top: 2vh;
    font-family: '楷体';
  }
  .lv_artical{
    font-size: 4.5vw;
    float: left;
    margin-top: 2vh;
    font-family: '楷体';
    margin-left: 1.5vw;
    margin-right: 5vw;
  }
  .lv_title1{
    font-size: 6vw;
    float: left;
    font-family: '楷体';
    margin-left: 5vw;
  }
  
  
  /* ************************************* */
  /* 我的界面 */
  .lv_wode_head{
    width: 100vw;
    height: 15vh;
    /* background-color: #49DD8E; */
    border-bottom: 1px solid #999;
  }
  .lv_wode_img{
    width: 25vw;
    height: 15vh;
    float: left;
  }
  .lv_wode_img img{
    width: 20vw;
    border-radius: 100vw;
    margin-top: 1vh;
    margin-left: 2vw;
  }
  .lv_wode_word{
    width: 60vw;
    height: 10vh;
    float: left;
    margin-top: 4vh;
  }
  .lv_wode_choose{
    width: 100vw;
    height: 10vh;
    /* background-color: #C61118; */
  }
  .lv_left{
    width: 40vw;
    height: 10vh;
    /* background-color: #08c; */
    float: left;
  }
  .lv_left p{
    /* line-height: 10vh; */
    text-align: center;
    margin-top: 2vh;
  }
  .lv_right{
    width: 40vw;
    height: 10vh;
    /* background-color: #08c; */
    float: right;
  }
  .lv_right p{
    text-align: center;
    margin-top: 2vh;
  }
  .lv_loginout{
    width: 100vw;
    height: 10vh;
  }
  .lv_loginout{
    text-align: center;
    line-height: 10vh;
    border: 1px solid #BBBBBB;
  }
  .lv_loginout span{
    color: #C61118;
  }
  /* ********************************** */
  /*发帖*/
  .wu_fabiao{
    float:right;
    width:16vw;
    height:3.5vh;
    border-radius: 3px;
    margin-right:1em;
    margin-top:-2.6em;
    background-color: #F5F4F4;
  }
  .wu_pinglun_box{
    width:100%;
    height:30vh;
    margin-top:-0.5em;
    background-color:rgb(0, 195, 255);
  }
  .wu_line1{
    margin-top:0em;
    border:none;
    border-top:1px solid gray;
  }
  .wu_biaoqian{
    float:left;
    margin-left:1em;
    margin-top:14em;
  }
  
/************************************** wu Seek.js**********************************************/
.wu_Seek_box{
  width:100%;
}
.wu_seek{
  width:60vw;
  height:5vh;
  float:left;
  margin-top:30vh;
  border-radius: 18px;
  margin-left:20vw;
  padding-left:15px;
  border-style: none;
  position:relative;
}
.wu_arrow{
  width:5vw;
  height:3vh;
  position: absolute;
  top:31vh;
  right: 18vw;
}
/********** 用户编辑帖子页面xietie ************/
.mu_fabiao{
  width:12vw;
  height: 6vw;
  border:0;
  background-color: cornflowerblue;
  border-radius: 3vw;
  margin-top: 2vw;
  float: left;
}
.mu_tie{
  width:100%;
}
.mu_xiet{
  margin-top: 1vw;
}
.mu_fabuwenzi{
  width:100%;
  height:40vw;
  overflow: hidden;
  border:0;
}
.mu_xzbq{
  width: 25vw; 
  border-radius: 2vw;
  float: right;
}



/* *************************************** */
/*****************Header************/
.mu_header{
  height: 20vw;
  background: #fff;
}
.mu_header header{
  width: 100%;
  margin: 0 auto;
}
.mu_tou{
  width: 10vw;
  height: 10vw;
  margin: 3vw 1vw 2vw 3vw;
  float: left;
}
.mu_search{
  width:60vw;
  height:5vw;
  margin-top:4vw;
  margin-left:6vw;
  border-radius:3vw;
  border:0;
  float: left;
}
.mu_xing{
  margin-left:8vw;
  margin-top:6vw;
  float: left;
}
/****************** content **************/
.mu_remen{
  width:100%;
  height:28vw;
  background:#fff;
  margin-bottom: 3vw;
  border:1px solid #BBBBBB;
  font-size: 3vw;
  position: relative;
}
.mu_user{
  width:100%;
  height:8vw;
  position: absolute;
  top:5vw;
}
.mu_biao{
  margin-top:1vw;
  margin-left:1vw;
  margin-bottom:2vw;
}
.mu_usertou{
  float:left;
  margin:1vw 2vw;
  width:6vw;
  height:6vw;
}
.mu_userming{
  float:left;
  margin:2vw 3vw 1vw;
}
.mu_yhwenzi{
  height: 6.5vw;
  overflow: hidden;
  position: absolute;
  top:13vw;
}
.mu_zan{
  float: right;
  top:21vw;
  right:3vw;
  position: absolute;
}
.mu_zi{
  margin-right: 2vw;
}
/**************** shoucang ************/
.mu_shoucangtop{
  width:100%;
  height: 10vw;
  background-color: white;
}
.mu_fanhui{
  margin:3vw;
  float: left;
}
.mu_sc{
  margin:3vw 30vw;
  float: left;
}
.mu_lankuai{
  width: 100%;
  height: 25vw;
  background-color: cornflowerblue;
}
.mu_neirong{
  margin-top:18vw;
  float: left;
}
/********** 用户编辑帖子页面xietie ************/
.mu_fabiao{
  width:12vw;
  height: 6vw;
  border:0;
  background-color: cornflowerblue;
  border-radius: 3vw;
  margin-top: 2vw;
  float: left;
}
.mu_tie{
  width:100%;
}
.mu_xiet{
  margin-top: 1vw;
}
.mu_fabuwenzi{
  width:100%;
  height:40vw;
  overflow: hidden;
  border:0;
}
.mu_xzbq{
  width: 25vw; 
  border-radius: 2vw;
  float: right;
}
/****************** 帖子详情 **********************/
.mu_t{
  width:100%;
  background-color: blanchedalmond;
  /* height:90vw; */
  position: relative;
}
.mu_biaoti{
  width:100%;
  height:8vw;
  text-align: center;
  padding-top: 2vw;
}
.mu_yhxx{
  width:100%;
  height:17vw;
  position: relative;
  font-family:"KaiTi";
  font-weight:500;
  font-size: 16px;
}
.mu_usertou2{
  float:left;
  width:12vw;
  height:12vw;
  position: absolute;
  top:1vw;
  left:2vw;
}
.mu_userming2{
 position: absolute;
 top:1vw;
 left:17vw;
}
.mu_riqi{
  position: absolute;
  top:8vw;
  left:17vw;
}
.mu_zw{
  line-height:7vw;
  text-indent:2rem;
  letter-spacing:2px;
}
.mu_xue{
    border:1px solid gray;
    border-radius: 2vw;
    position: absolute;
    bottom: 1vw;
    right:2vw;
    padding:1vw;
}

/* ********************************************* */
/* 修改资料 */
.lv_xiugaiziliao{
  width: 100vw;
  height: 10vh;
  border: 1px solid #999;
  text-align: center;
  line-height: 10vh;
  }
  .lv_input{
  width: 100vw;
  height: 10vh;
  }
  .lv_input input{
  width: 80vw;
  height: 6vh;
  }

  /* *********************************************** */
  /*我的  */
  .lv_headImg{
    width: 100vw;
    height: 22.5vh;
    background-color: #C61118;
  }
  .lv_touxiang{
    width: 25vw;
    height: 25vw;
    border-radius: 20vw;
    background-color: #C61118;
    position: relative;
    top: -6vh;
    left: 38vw;
  }
  .lv_touxiang img{
    width: 25vw;
    height: 25vw;
    border-radius: 20vw;
  }
  .lv_back{
    width: 100vw;
    height: 10vh;
    background-color: #C61118;
    position: relative;
    top: -5vh;
  }

.qinMineContent{
  width: 100%;
  height: 50%;
  background-color: white;
  margin-top: -2vh;

}
.qinMineEvery{
  padding-top: 3%;
  padding-left: 10%;
  width: 100%;
  height: 8vh;
  border-bottom:1px rgb(0, 140, 255) solid;
  font-size: 5.5vw;
  font-family: '微软雅黑';
}
.qinMineEvery p{
  padding-top: 3%;
  float: left;
  font-size: 5vw;
  font-family: '微软雅黑';
}
.qinMineEvery img{
  float: left;
  width: 6vw;
  height: 6vw;
  margin-top: 1.5vh;
  margin-right: 2vw;
}
.qinMineExit{
  margin-top: 10%;
  margin-left: 33%;
  width: 35%;
  height: 5vh;
  border:none;
  border-radius: 3vw;
  background-color: rgb(103, 181, 233);
}